*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:
        radial-gradient(circle at 50% -20%, #1f2937 0%, #0f172a 40%, #0a0a0a 70%),
        #0a0a0a;
    color:#e5e7eb;
    overflow-x:hidden;
    position:relative;
}

body::after{
    content:"";
    position:fixed;
    inset:0;
    background:radial-gradient(circle at center,
        transparent 55%,
        rgba(0,0,0,0.6) 100%);
    pointer-events:none;
    z-index:-1;
}

#loader{
    position:fixed;
    inset:0;
    background:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
    transition:opacity .6s ease, visibility .6s ease;
}

#loader h1{
    font-size:60px;
    font-weight:600;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 80px;
    position:relative;
    z-index:2;
}

header h2{
    font-weight:600;
    color:white;
}

nav a{
    margin-left:40px;
    text-decoration:none;
    color:#cbd5e1;
    opacity:.8;
    transition:.3s;
}

nav a:hover{
    opacity:1;
    color:white;
}


.about-hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    padding:0 120px;
    background:transparent; 
}

.about-container{
    width:100%;
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}

.about-left{
    flex:1;
}

.about-left h1{
    font-size:80px;
    font-weight:700;
    line-height:1;
    color:white;
}

.about-left span{
    background: linear-gradient(90deg,#ffffff,#38bdf8,#0ea5e9);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.tagline{
    margin-top:20px;
    font-size:16px;
    color:#94a3b8;
}

.about-image{
    flex:1.2;
    display:flex;
    justify-content:center;
}

.about-image img{
    width:100%;
    max-width:520px;
    border-radius:25px;
    box-shadow:0 30px 70px rgba(0,0,0,0.6);
}

.about-right{
    flex:1;
}

.about-right h3{
    color:#38bdf8;
    letter-spacing:2px;
    font-size:16px;
    margin-bottom:20px;
}

.about-right p{
    color:#cbd5e1;
    line-height:1.8;
    font-size:15px;
    max-width:400px;
}

@media (max-width:992px){

    .about-hero{
        padding:80px 40px;
    }

    .about-container{
        flex-direction:column;
        text-align:center;
    }

    .about-right p{
        margin:auto;
    }

    .about-left h1{
        font-size:60px;
    }
}